.login{
    position: absolute;
    right:0px;
    top:20px;
    background:rgba(0,0,0, .2);
    border-radius:5px;
    padding:20px;
}

.styleLogin{
        border:2px solid white;
}

.login label{
    color:white;
    margin-left:11px;
}

.login input{
margin:10px;
border-radius:5px;
}

.login button{
float:right;
margin-right:11px;
}


@media only screen and (max-width: 640px) {

  };