.styleNav{
  background:white;
  opacity:0.8;
  height: 150px;
}

.styleLogin{
  position:absolute;
  right: 5px;
}

#ApptitleNav{
  height:100px;

}

/* .loginlink{
  position:relative;
  left: 70%;
  font-size: 60px;
} */

@media only screen and (max-width: 640px) {
  .styleNav{
    background:white;
    opacity:0.8;
    height: 180px;
  }
  
  .styleLogin{
    position:relative;
    right: 2px;
  }
  
  #ApptitleNav{
    position:relative;
    height:52px;
    left: 130%;
  
  }

};
