.register{
    position: absolute;
    left:0px;
    top:20px;
    background:rgba(0,0,0, .2);
    border-radius:5px;
    padding:20px;

}

.styleregister{
    border:2px solid white;
}

.register label{
    color:white;
    margin-left:11px;
}

.register input{
margin:10px;
border-radius:5px;
}

.register button{
float:right;
margin-right:11px;
}